.div {
  height: auto;
}
.phoneInput {
  padding: 0.5rem;
}
.phoneInput::placeholder {
  font-size: 1rem;
}
.nameInput {
  padding: 0.5rem;
}
.nameInput::placeholder {
  font-size: 1rem;
}

.p {
  font-size: 1.75rem;
}
.button{
  position: relative;
  left:auto;
}
