.div {
  height: 15rem;
  width: 20rem;
  position: relative;
  left: 40%;
  top: 2rem;
}
.phoneInput {
  position: absolute;
  top: 4rem;
  left: 19%;
  padding: 0.5rem;
}
.phoneInput::placeholder {
  font-size: 1rem;
}
.nameInput {
  position: absolute;
  top: 8rem;
  left: 19%;
  padding: 0.5rem;
}
.nameInput::placeholder {
  font-size: 1rem;
}

.btn {
  position: absolute;
  top: 12rem;
  left: 43%;
}

.p {
  font-size: 1.75rem;
}
