.showDiv {
  height: auto;

}
.header {
  background-color: blueviolet;
  box-shadow: 0 .5rem rgba(.5, 0,0, .2)
}
.paragraph{
  font-size: 1rem;
  background-color:white;
}
.deleteBtn{
  font-size: 1rem;
}
