.div {
  height: auto;
}
.phoneInput {
  padding: 0.5rem;
}
.phoneInput::placeholder {
  font-size: 1rem;
}
.nameInput {
  padding: 0.5rem;
}
.nameInput::placeholder {
  font-size: 1rem;
}

.p {
  font-size: 1.75rem;
}

.button{
  color: white;
}

.validationP{
font-size: 1rem;
color:  rgb(233, 88, 21);
}
